<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	function allSel(bool){
		var chks=document.getElementsByName("seq");// [seq,seq,seq,seq..]
		for (var i = 0; i < chks.length; i++) {
			chks[i].checked=bool;//각각의 체크박스에 체크여부를 true/false로 적용
		}
	}
	
	function isCheck(){
		if(confirm("정말 삭제 하시겠습니까?")){
			return true;
		}
		return false;
	}
	
	//글목록 조회
	
	//글추가 폼 이동
	
	//글추가하기
	
	//글 상세조회
	
	//글 수정폼이동
	
	//글 수정하기 
	
	//글 삭제하기
</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
	<div id="container">
		
	</div>
</div>
</body>
</html>






